@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "YourCustomFont";
  src: url("src/assets/Game Of Squids.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
